body {
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#etchercontainer {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;

}

#etchersketcher {
    display: flex;
    flex-wrap: wrap;
    max-width: 360px;
    max-height: 360px;
    background-color: white;
    height: 360px;
    width: 360px;
}
