body {
    background: lightgray;

}

#etchercontainer {
    display: flex;
    justify-content: center;

}

#etchersketcher {
    display: flex;
    flex-wrap: wrap;
    max-width: 360px;
    max-height: 360px;
    background-color: white;
    height: 360px;
    width: 360px;
}
